.gw-repo-outer {
  float: left;
  width: 50%;
	color: white;
}

.gw-repo-outer:nth-child(2n + 1) {
  clear: left;
}

.gw-repo {
  margin: 0 1em 1em 0;
	background-color: #4B88A2;
	border-radius: 7px;
	padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
	height: 120px;
}

@media (max-width: 1200px) {
    .gw-repo {
			height: 230px;
		}
}

.gw-repo:nth-child(2n) {
  margin: 0 0 1em 1.5em;
}

.gw-title{
  margin-bottom: 0.3em;
}

.gw-name {
  font-weight: bold;
}

.gw-stats {
  display: inline-block;
  margin: 0;
  float: right;
}

.gw-watchers, .gw-forks {
  display: inline-block;
  height: 21px;
  padding: 0 5px 0 23px;
  line-height: 21px;
  background: transparent url('repostat.png') no-repeat 0 0;
}

.gw-watchers {
  background-position: 5px -2px;
}

.gw-forks {
  background-position: 5px -52px;
}

.gw-clearer {
  clear: left;
}
